
{% load mptt_tags %}
{% load inventory_tags %}

            {% for location,structure in locations|tree_info %}
                {% if structure.new_level %}
                    <ul><li data-jstree='{"icon":"fa fa-map-marker"}' id="location_{{ location.id }}">
                {% else %}
                    </li><li data-jstree='{"icon":"fa fa-map-marker"}' id="location_{{ location.id }}">
                {% endif %}
                    <a href="#" data-location-id='{{ location.id }}'
                            data-detail-url="{% url 'locations:ajax_location_detail' location.id %}"
                            data-node-id="{{ location.id }}"
                            data-node-type="location">{{ location.name }}</a>


                            <!-- Check if Build exists for the location. -->
                            {% if location.builds.exists %}
                                <ul>
                                {% for build in location.builds.all %}
                                           <li data-jstree='{"icon":"fa fa-rocket"}' id="builds_{{ build.id }}">
                                               <a href="#" data-detail-url="{% url 'builds:ajax_builds_detail' build.id %}"
                                                  data-node-id="{{ build.id }}"
                                                  data-location-id="{{ location.id }}"
                                                  data-node-type="detail">{{ build }}
                                                  {% if build.current_deployment_status == 'deploy' %}<span class="badge badge-pill badge-primary">Deployed</span>{% endif %}
                                                  {% if build.current_deployment_status == 'recover' %}<span class="badge badge-pill badge-warning">Recovered</span>{% endif %}
                                                  {% if build.current_deployment_status == 'burnin' %}<span class="badge badge-pill badge-danger">Burn In</span>{% endif %}
                                                  {% if build.current_deployment_status == 'create' %}<span class="badge badge-pill badge-success">Initial Deployment</span>{% endif %}
                                              </a>

                                              {% if build.assembly.assembly_parts.exists %}
                                                  {% include "builds/build_tree_assembly.html" with assembly_parts=build.assembly.assembly_parts.all inventory_qs=build.inventory.all build_pk=build.id part_types=part_types  %}
                                              {% endif %}


                                           </li>
                                {% endfor %}
                                </ul>
                            {% endif %}


                            {% if location.inventory.exists %}

                                    {% include "inventory/inventory_tree_assigned_destination.html" with location=location part_types=part_types %}
                                    {% include "inventory/inventory_tree_unassigned.html" with location=location part_types=part_types %}

                            {% endif %}


                            <!-- Check if Snapshot exists for the location. If so, include Deployments -->
                            {% if location.deployment_snapshot.exists %}
                                <ul>
                                {% for dep in location.deployment_snapshot.all %}
                                           <li data-jstree='{"icon":"fa fa-anchor"}' id="deployments_snapshot_{{ dep.id }}">
                                               <a href="#" data-detail-url="{% url 'deployments:ajax_deployment_snapshot_detail' dep.id %}"
                                                  data-node-id="{{ dep.id }}"
                                                  data-location-id="{{ location.id }}"
                                                  data-node-type="detail">{{ dep.deployment.deployment_number }}
                                                  {% if dep.deployment.final_location.exists %} ({{ dep.deployment.final_location.location_id }}){% endif %} - {{ dep.created_at }}

                                              </a>

                                              {% include "inventory/inventory_tree_snapshot.html" with location=location part_types=part_types dep=dep  %}


                                           </li>
                                {% endfor %}
                                </ul>
                            {% endif %}




                {% for level in structure.closed_levels %}</li></ul>{% endfor %}
            {% endfor %}
