
{% load mptt_tags %}
{% load inventory_tags %}

            {% for location,structure in locations|tree_info %}
                {% if structure.new_level %}
                    <ul><li data-jstree='{"icon":"fa fa-map-marker"}' id="location_{{ location.id }}">
                {% else %}
                    </li><li data-jstree='{"icon":"fa fa-map-marker"}' id="location_{{ location.id }}">
                {% endif %}
                    <a href="#" data-location-id='{{ location.id }}'
                            data-detail-url="{% url 'inventory:ajax_inventory_location_detail' location.id %}"
                            data-node-id="{{ location.id }}"
                            data-node-type="location">{{ location.name }}</a>


                            {% if location.deployment.exists %}
                                <ul>
                                {% for dep in location.deployment.all %}
                                           <li data-jstree='{"icon":"fa fa-anchor"}' id="deployment_{{ dep.id }}">
                                               <a href="#" data-location-id='{{ location.id }}'
                                                       data-detail-url="{% url 'deployments:ajax_deployment_detail' dep.id %}"
                                                       data-node-id="{{ dep.id }}"
                                                       data-node-type="deployment">{{ dep.deployment_number }}
                                                   {% if dep.final_location.exists %} ({{ dep.final_location.location_id }}){% endif %}
                                                   {% if dep.current_deployment_status == 'deploy' %}<span class="badge badge-pill badge-primary">Deployed</span>{% endif %}
                                                   {% if dep.current_deployment_status == 'recover' %}<span class="badge badge-pill badge-warning">Recovered</span>{% endif %}
                                                   {% if dep.current_deployment_status == 'burnin' %}<span class="badge badge-pill badge-danger">Burn In</span>{% endif %}
                                                   {% if dep.current_deployment_status == 'create' %}<span class="badge badge-pill badge-success">Initial Build</span>{% endif %}

                                               </a>

                                                {% if dep.final_location.mooring_parts.exists %}
                                                    {% include "inventory/inventory_tree_deployment.html" with mooring_parts=dep.final_location.mooring_parts inventory_qs=dep.inventory dep_pk=dep.id part_types=part_types  %}
                                                {% endif %}

                                                {% if dep.assembly.assembly_parts.exists %}
                                                    {% include "inventory/inventory_tree_deployment_assembly.html" with assembly_parts=dep.assembly.assembly_parts inventory_qs=dep.inventory dep_pk=dep.id part_types=part_types  %}
                                                {% endif %}

                                           </li>
                                {% endfor %}
                                </ul>
                            {% endif %}


                            {% if location.inventory.exists %}

                                    {% include "inventory/inventory_tree_assigned_destination.html" with location=location part_types=part_types %}
                                    {% include "inventory/inventory_tree_land.html" with location=location part_types=part_types %}

                            {% endif %}


                            <!-- Check if Snapshot exists for the location. If so, include Deployments -->
                            {% if location.deployment_snapshot.exists %}
                                <ul>
                                {% for dep in location.deployment_snapshot.all %}
                                           <li data-jstree='{"icon":"fa fa-anchor"}' id="deployments_snapshot_{{ dep.id }}">
                                               <a href="#" data-detail-url="{% url 'deployments:ajax_deployment_snapshot_detail' dep.id %}"
                                                  data-node-id="{{ dep.id }}"
                                                  data-location-id="{{ location.id }}"
                                                  data-node-type="detail">{{ dep.deployment.deployment_number }}
                                                  {% if dep.deployment.final_location.exists %} ({{ dep.deployment.final_location.location_id }}){% endif %} - {{ dep.created_at }}

                                              </a>

                                              {% include "inventory/inventory_tree_snapshot.html" with location=location part_types=part_types dep=dep  %}


                                           </li>
                                {% endfor %}
                                </ul>
                            {% endif %}




                {% for level in structure.closed_levels %}</li></ul>{% endfor %}
            {% endfor %}
