<ul class="list-group list-group-flush">

{% if inventory_items %}

      {% for inventory in inventory_items %}

                  <li class="list-group-item">
                      <div class="ajax-add-subassembly-link">
                        {% if inventory.part.friendly_name %} {{ inventory.part.friendly_name}} {% else %} {{ inventory.part.name }} {% endif %}
                        - {{ inventory.serial_number }} <br>Current Location: {{ inventory.location.name }}

                    {% if inventory.parent %}
                        <p class="alert-danger">ERROR. Inventory Item is attached to another Parent Assembly.</p>
                    {% else %}
                      <a href="#" data-detail-url="{% url 'inventory:ajax_inventory_add_subassembly_action' inventory.id parent.id %}"
                          data-parent-id="{{ parent.id }}"
                          class="btn btn-primary btn-sm float-right"
                          role="button">Add</a>
                    {% endif %}

                      </div>
                  </li>

      {% endfor %}
{% else %}
    <p>NONE</p>
{% endif %}

</ul>
