{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block title %}Deployments{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <h2>Deployments</h2>

            {% include "inventory/deployment_location_list.html" %}
        </div>
        <div class="col-md-7 inventory-detail">

            <div class="card">
                <div class="card-header">
                    {% if deployment.id %}
                        <h3>Edit Deployment</h3>
                    {% else %}
                        <h3>Add New Deployment</h3>
                    {% endif %}
                </div>

                <div class="card-body">

                    <form class="form-horizontal" method="post" action="" id="inventory-action-form">
                      {% csrf_token %}
                      {{ form|crispy }}

                      <div class="row">
                          {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-danger">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endif %}


                      </div>

                      <div class="control-group">
                        <div class="controls">
                          {% if deployment.id %}
                          <button type="submit" class="btn btn-primary">Update Deployment</button>
                          {% else %}
                          <button type="submit" class="btn btn-primary">Add Deployment</button>
                          {% endif %}
                        </div>
                      </div>
                    </form>


                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascript %}



<script>

$(document).ready(function() {

    var dep_id = '{{ deployment.location_id }}' + '_' + '{{ deployment.id }}' ;
    $('#jstree_parts_locations').jstree(true).select_node(dep_id);

});
</script>


{% endblock javascript %}
