
{% load mptt_tags %}
{% load inventory_tags %}

{% get_inventory_list_by_location location as inventory %}


            {% for inv,structure in inventory|tree_info %}

                {% if structure.new_level %}
                    <ul><li {% if inv.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif inv.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif inv.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif inv.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif inv.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% else %}
                                data-jstree='{"icon":"fa fa-cube"}'
                            {% endif %}
                            id="inventory_{{ inv.id }}">
                {% else %}
                    </li><li {% if inv.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif inv.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif inv.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif inv.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif inv.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% else %}
                                data-jstree='{"icon":"fa fa-cube"}'
                            {% endif %}
                            id="inventory_{{ inv.id }}">
                {% endif %}
                <a href="#" data-detail-url="{% url 'inventory:ajax_inventory_detail' inv.id %}"
                   data-node-id="{{ inv.id }}"
                   data-part-type-id="{{ inv.part.part_type.id }}"
                   data-node-type="inventory"
                   class="
                   {% if part_types %}
                       {% if inv.part.part_type.id in part_types %}
                           blue
                       {% else %}
                           wh
                       {% endif %}
                   {% endif %}
                   ">
                   {% if inv.part.friendly_name %} {{ inv.part.friendly_name}} {% else %} {{ inv.part.name }} {% endif %}
                    - {{ inv.serial_number }}
                 </a>

                {% for level in structure.closed_levels %}</li></ul>{% endfor %}

             {% endfor %}
