
{% load mptt_tags %}
{% load inventory_tags %}

{% get_inventory_dictionary inventory_qs as inventory %}


        {% for mooring_part,structure in mooring_parts.all|tree_info %}

                {% if structure.new_level %}
                    <ul><li {% if mooring_part.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif mooring_part.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif mooring_part.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif mooring_part.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif mooring_part.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% endif %}

                            {% if mooring_part.id in inventory %}
                                id="inventory_{{ inventory|get_item:mooring_part.id }}"
                            {% else %}
                                id="mooring_part_{{ mooring_part.id }}_{{ dep_pk }}"
                            {% endif %}  >
                {% else %}</li>
                    <li     {% if mooring_part.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif mooring_part.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif mooring_part.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif mooring_part.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif mooring_part.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% endif %}

                            {% if mooring_part.id in inventory %}
                                id="inventory_{{ inventory|get_item:mooring_part.id }}"
                            {% else %}
                                id="mooring_part_{{ mooring_part.id }}_{{ dep_pk }}"
                            {% endif %}  >
                {% endif %}

                {% if mooring_part.id in inventory %}
                    {% for i in inventory_qs.all %}
                        {% if i.id == inventory|get_item:mooring_part.id %}
                            <a href="#" data-detail-url="{% url 'inventory:ajax_inventory_detail' i.id %}"
                               data-node-id="{{ mooring_part.id }}"
                               data-location-id="{{ location.id }}"
                               data-part-type-id="{{ mooring_part.part.part_type.id }}"
                               data-node-type="detail"
                               class="
                               {% if i.is_root_node and not mooring_part.is_root_node %} red {% endif %}
                               {% if part_types %}
                                   {% if mooring_part.part.part_type.id in part_types %}
                                       blue
                                   {% else %}
                                       wh
                                   {% endif %}
                               {% endif %}
                               ">
                                {% if mooring_part.part.friendly_name %} {{ mooring_part.part.friendly_name}} {% else %} {{ mooring_part.part.name }} {% endif %}
                                - {{ i.serial_number }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <a href="#" data-detail-url="{% url 'inventory:ajax_inventory_mooring_part_add_subassembly' mooring_part.id location.id dep_pk %}"
                       data-node-id="{{ mooring_part.id }}"
                       data-location-id="{{ location.id }}"
                       data-part-type-id="{{ mooring_part.part.part_type.id }}"
                       data-node-type="detail" class="grey">
                        {% if mooring_part.part.friendly_name %} {{ mooring_part.part.friendly_name}} {% else %} {{ mooring_part.part.name }} {% endif %} -
                        {{ mooring_part.part.part_number }} </a>
                {% endif %}

             {% for level in structure.closed_levels %}</li></ul>{% endfor %}

        {% endfor %}
