{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block title %}Inventory{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5 navtree-container">

            <div class="btn-group" id="filter-part-type" data-navtree-filter-url="{% url 'inventory:ajax_filter_inventory_navtree' %}">
              <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by Part Type
              </button>
              <div class="dropdown-menu">

                  {% for p_type in part_types %}
                  <div class="form-check dropdown-item">
                    <input class="form-check-input filter-checkbox" type="checkbox" value="{{ p_type.id }}" id="filter-{{ p_type.id }}">
                    <label class="form-check-label" for="filter-{{ p_type.id }}">
                      {{ p_type.name }}
                    </label>
                  </div>
                  {% endfor %}
                  <div class="form-check dropdown-item">
                      <small><a href="#" class="" id="filter-part-type-clear">CLEAR ALL</a></small>
                  </div>
              </div>
            </div>

            <h2>Inventory</h2>

            <div id="jstree-navtree" data-navtree-url="{% url 'inventory:ajax_load_inventory_navtree' %}"
                                     data-node-type="{{ node_type }}">
                <img src="{% static 'images/loading-icon.gif' %}" class="loading-icon"/>
                <!-- AJAX navtree inserted here! -->
            </div>

        </div>
        <div class="col-md-7 inventory-detail">

            <div class="card" id="detail-view">
                <div class="card-header">
                  <h3>Search Results</h3>
                </div>

                <div class="card-body">

                    <p>The following Inventory + Parts match your search.</p>


                {% if inventory %}
                      <h2>INVENTORY ITEMS</h2>
                <ul class="list-group list-group-flush pagination">
                      {% for inv in inventory %}
                                  <li class="list-group-item">
                                      <div >
                                      <a href="{% url 'inventory:inventory_detail' inv.id %}">
                                          {{ inv.part.name }} - {{ inv.serial_number }}
                                      </a>
                                      <br>
                                      Current Location: {{ inv.location }}

                                      <a href="{% url 'inventory:inventory_detail' inv.id %}"
                                          class="btn btn-primary btn-sm float-right"
                                          role="button">View</a>
                                      </div>
                                  </li>

                      {% endfor %}
                </ul>
                {% endif %}
                {% if parts %}
                      <h2>PART ITEMS</h2>
                  <ul class="list-group list-group-flush pagination">
                      {% for part in parts %}

                                  <li class="list-group-item">
                                      <div >
                                      <a href="{% url 'parts:parts_detail' part.id %}">
                                          {{ part.name }} - {{ part.part_number }}
                                      </a>
                                      <br>
                                      Part Type: {{ part.part_type }}

                                      <a href="{% url 'parts:parts_detail' part.id %}"
                                          class="btn btn-primary btn-sm float-right"
                                          role="button">View</a>
                                      </div>
                                  </li>
                      {% endfor %}
                  </ul>
                {% endif %}

                {% if not parts and not inventory %}
                    <p>NONE</p>
                {% endif %}


        </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascript %}

{% endblock javascript %}
