{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit {{ user_admin.username }}{% endblock %}

{% block content %}
<div class="container">
  <h1>{% if user_admin.username %}Edit {{ user_admin.username }}{% else %}Add User {% endif %}</h1>
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
