#
# Copyright (C) 2019-2020 Woods Hole Oceanographic Institution
#
# This file is part of the Roundabout Database project ("RDB" or
# "ooicgsn-roundabout").
#
# ooicgsn-roundabout is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# ooicgsn-roundabout is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with ooicgsn-roundabout in the COPYING.md file at the project root.
# If not, see <http://www.gnu.org/licenses/>.
#

workflows:
  version: 2
  main:
    jobs:
    - build:
        filters:
          branches:
            only:
              - develop
              - automated_tests
              - /release-.*/

version: 2
jobs:
  build:
    machine:
       image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          # From https://circleci.com/docs/2.0/docker-compose/
          name: Installing Docker Compose
          command: >-
            DC_VERSION=1.24.0 &&
            DC_DOWNLOAD=docker-compose-`uname -s`-`uname -m` &&
            curl -Lo ~/docker-compose \
              https://github.com/docker/compose/releases/download/$DC_VERSION/$DC_DOWNLOAD &&
            chmod +x ~/docker-compose &&
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Building Docker application
          command: >-
            mv .envs.example .envs &&
            docker-compose --file local.yml build
      - run:
          # The Django start script will run migrations for us
          name: Starting Docker application
          command: >-
            docker-compose --file local.yml up --detach
      - run:
          name: Checking for missing migrations
          command: >-
            docker-compose --file local.yml run --rm django \
              python manage.py makemigrations --check
      - run:
          name: Running Django system checks
          command: >-
            docker-compose --file local.yml run --rm django \
              python manage.py check
      - run:
          name: Running Django tests
          command: >-
            docker-compose --file local.yml run --rm django \
              python manage.py test

      - run:
          name: Running Automated tests
          command: >-
            docker-compose -f docker-compose-testing.yml run --rm tests \
               sh -c "until curl -Is http://localhost:8000; do echo 'sleeping'; sleep 10; done  &&
                  google-chrome --version && chromedriver --version &&
                  nodejs -v &&
                  ./RunAllTests-Chrome-Linux.bat"

      - run:
          name: Stopping Docker application
          command: >-
            docker-compose --file local.yml down
