    <div class="card-body">
        <div class="side-p">
            <h3>Are you sure?</h3>
            <p>You're about to delete Revision: {{ object }}. Please confirm.</p>
            <form action="" method="post" class="delete-form"
                  id="delete-form" data-url='{{ request.build_absolute_uri|safe }}'>
                {% csrf_token %}
                <input class="btn btn-link cancel-btn"
                       type="button" value="Cancel"
                       data-detail-url="{% url 'parts:ajax_parts_detail' object.part.id %}"/>
                <input class="btn btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>

{% block javascript %}

{% endblock javascript %}
