{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load parts_tags %}

{% block title %}Part Templates{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 navtree-container">
        <h2>Part Templates</h2>

        <div id="jstree-navtree" data-navtree-url="{% url 'parts:ajax_load_parts_navtree' %}"
                                 data-node-type="{{ node_type }}">
            <img src="{% static 'images/loading-icon.gif' %}" class="loading-icon"/>
            <!-- AJAX navtree inserted here! -->
        </div>

    </div>
    <div class="col-md-7 inventory-detail">

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="parts-add-btn">
                    <a href="#" data-create-url="{% url 'parts:ajax_parts_add' %}" role="button" class="btn btn-primary">Add Part Template</a>
                </div>
            </div>
        </div>

        <div class="card" id="detail-view">

            {% include "parts/ajax_part_detail.html" %}

        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}
