{% load humanize %}
{% load common_tags %}
{% load mptt_tags %}

<div class="card-header" data-object-id="{{ build.id }}">
    <h3>{{ build }}</h3>
</div>

<div class="card-body">

    <div class="dropdown float-right">
      <button id="action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary">
        Choose Action
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="action">
            <div class="ajax-detail-link">
                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'builds:ajax_builds_action' 'locationchange' build.id %}"
                    data-node-id="{{ build.id }}"
                    data-node-type="detail">Location Change</a>
                <!--
                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'builds:ajax_builds_action' 'test' build.id %}"
                    data-node-id="{{ build.id }}"
                    data-location-id="{{ build.location.id}}"
                    data-node-type="detail">Test</a>
                -->
                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'builds:ajax_builds_action' 'flag' build.id %}"
                    data-node-id="{{ build.id }}"
                    data-location-id="{{ build.location.id }}"
                    data-node-type="detail">Flag</a>

                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'builds:ajax_note_action' build.id %}"
                    data-node-id="{{ build.id }}"
                    data-location-id="{{ build.location.id }}"
                    data-node-type="detail">Photo/Note</a>

                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'builds:ajax_builds_update' build.id %}"
                    data-node-id="{{ build.id }}"
                    data-location-id="{{ build.location.id }}"
                    data-node-type="detail">Edit Build Details</a>

                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'builds:ajax_builds_snapshot' build.id %}"
                    data-node-id="{{ build.id }}"
                    data-location-id="{{ build.location.id }}"
                    data-node-type="detail">Take Snapshot</a>

                <hr>

                {% if not build.is_deployed %}
                    <a class="dropdown-item" href="#"
                        data-detail-url="{% url 'builds:ajax_deployment_add' build.id %}"
                        data-node-id="{{ build.id }}"
                        data-location-id="{{ build.location.id}}"
                        data-node-type="detail">Start {{ label_deployments_app_singular }}</a>
                {% endif %}

                {% if build.current_deployment.current_deployment_status == 'create' %}
                    <a class="dropdown-item" href="#"
                        data-detail-url="{% url 'builds:ajax_deployment_action' 'burnin' build.current_deployment.id build.id  %}"
                        data-node-id="{{ build.id }}"
                        data-location-id="{{ build.location.id}}"
                        data-node-type="detail">Initiate Burn In</a>
                {% endif %}

                {% if build.current_deployment.current_deployment_status == 'burnin' %}
                    <a class="dropdown-item" href="#"
                        data-detail-url="{% url 'builds:ajax_deployment_action' 'deploy' build.current_deployment.id build.id %}"
                        data-node-id="{{ build.id }}"
                        data-location-id="{{ build.location.id}}"
                        data-node-type="detail">Deploy to Sea</a>
                {% endif %}

                {% if build.current_deployment.current_deployment_status == 'deploy' %}

                    <a class="dropdown-item" href="#"
                        data-detail-url="{% url 'builds:ajax_deployment_action' 'details' build.current_deployment.id build.id %}"
                        data-node-id="{{ build.id }}"
                        data-location-id="{{ build.location.id}}"
                        data-node-type="detail">Update Deployment Details</a>

                    <a class="dropdown-item" href="#"
                        data-detail-url="{% url 'builds:ajax_deployment_action' 'recover' build.current_deployment.id build.id %}"
                        data-node-id="{{ build.id }}"
                        data-location-id="{{ build.location.id}}"
                        data-node-type="detail">Recover from Sea</a>
                {% endif %}

                {% if build.current_deployment.current_deployment_status == 'recover' %}
                    <a class="dropdown-item" href="#"
                        data-detail-url="{% url 'builds:ajax_deployment_action' 'retire' build.current_deployment.id build.id %}"
                        data-node-id="{{ build.id }}"
                        data-location-id="{{ build.location.id}}"
                        data-node-type="detail">Retire {{ label_deployments_app_singular }}</a>
                {% endif %}


            </div>

      </div>
    </div>


    <p>Build ID Number: {{ build.build_number }}</p>

    <p>Assembly: {{ build.assembly }}</p>

    <p>Assembly Type: {{ build.assembly.assembly_type }}</p>

    <p>Build Notes: {{ build.build_notes }}</p>

    <hr>
    <div id="build-status">
        <!--
        <div id="build-progress" class="float-right">
            <h6>Percent Built</h6>
            <div class="progress progress-bar-vertical ">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
                  30%
                </div>
            </div>
        </div>
    -->
        <h5>Build Status</h5>

        {% if build.flag %}
        <div class="float-right ajax-detail-link"><a href="#" data-detail-url="{% url 'builds:ajax_builds_action' 'flag' build.id %}" role="button" class="btn btn-danger">FLAGGED</a></div>
        {% endif %}

        <p>Current Location: {{ build.location }}</p>

        <p>Total Time at Sea: {{ build.total_time_at_sea|time_at_sea_display }}</p>

        <h6>Percent Built</h6>

        <div class="progress" style="height: 20px;">
            {% if percent_complete == 0 %} {{ percent_complete }}% {% endif %}
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ percent_complete }}%;" aria-valuenow="{{ percent_complete }}" aria-valuemin="0" aria-valuemax="100">
              <span>{{ percent_complete }}%</span>
          </div>
        </div>




    </div>





    {% if build.is_deployed %}
        <hr>

        <h5>Current {{ label_deployments_app_singular }} Data</h5>
        <p>{{ label_deployments_app_singular }} Number: {{ current_deployment.deployment_number }}</p>
        <p>Final {{ label_deployments_app_singular }} Location: {{ current_deployment.deployed_location }}</p>

        {% if build.current_deployment_time_at_sea %}
            <p>Current {{ label_deployments_app_singular }} Time at Sea: {{ build.current_deployment_time_at_sea|time_at_sea_display }}
        {% endif %}

        <h6>{{ label_deployments_app_singular }} Status</h6>

        <div class="progress mb-3" style="height: 20px;">

            <div class="progress-bar {{ current_deployment.get_deployment_progress_bar|get_item:'bar_class' }}" role="progressbar" style="width: {{ current_deployment.get_deployment_progress_bar|get_item:'bar_width' }}%;" aria-valuenow="{{ current_deployment.get_deployment_progress_bar|get_item:'bar_width' }}" aria-valuemin="0" aria-valuemax="100">
                <span>{{ current_deployment.get_deployment_status_label }}</span>
            </div>

        </div>

        {% if current_deployment.get_deploytosea_details %}
            <p>{{ label_deployments_app_singular }} Date: {{ current_deployment.get_deploytosea_details|get_item:'deploy_date'|date:"n/j/y H:i" }}</p>
            <p>Latitude: {{ current_deployment.get_deploytosea_details|get_item:'latitude' }}</p>
            <p>Longitude: {{ current_deployment.get_deploytosea_details|get_item:'longitude' }}</p>
            <p>Depth: {{ current_deployment.get_deploytosea_details|get_item:'depth' }} m</p>
        {% endif %}
    {% endif %}

    <hr>

    <ul class="nav nav-tabs" id="inventory-tabs-nav" role="tablist">

        {% if build.actions.all %}
            <li class="nav-item">
              <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">History</a>
            </li>
        {% endif %}

        {% if build.deployments.all %}
            <li class="nav-item">
              <a class="nav-link" id="deployments-tab" data-toggle="tab" href="#deployments" role="tab" aria-controls="deployments" aria-selected="true">{{ label_deployments_app_plural }}</a>
            </li>
        {% endif %}

        {% if build.build_snapshots.all %}
            <li class="nav-item">
              <a class="nav-link" id="snapshots-tab" data-toggle="tab" href="#snapshots" role="tab" aria-controls="snapshots" aria-selected="true">Snapshots</a>
            </li>
        {% endif %}

        {% if build.revision.documentation.all %}
          <li class="nav-item">
            <a class="nav-link" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation" aria-selected="false">Documentation</a>
          </li>
        {% endif %}

    </ul>

    <div class="tab-content" id="inventory-tabs">

        {% if build.actions.all %}
          <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">

              <table class="table table-striped action-table">
                  <thead>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Details</th>
                    <th>Person</th>
                    <th>Location</th>

                  </thead>
                  <tbody>
                    {% for action in build.actions.all %}
                      <tr>
                          <td>{{ action.created_at|date:"n/j/y H:i" }}</td>
                          <td>{{ action.get_action_type_display }}</td>
                          <td>
                              {{ action.detail|safe }}
                              {% for photo in action.build_photos.all %}
                                  {% if photo.file_type == 'image' %}
                                      <a href="{{ photo.photo.url }}" target="_blank">
                                          <img src="{{ photo.photo.url }}" width="100%">
                                      </a> <br><br>
                                  {% else %}
                                     <a href="{{ photo.photo.url }}" target="_blank"><i class='fa fa-file fa-3x'></i>
                                         {{ photo.photo.name }}
                                     </a>  <br><br>
                                  {% endif %}
                              {% endfor %}
                          </td>
                          <td>{{ action.user.username }}</td>
                          <td>{{ action.location.name }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>

          </div>
        {% endif %}

        {% if build.deployments.all %}
        <div class="tab-pane fade" id="deployments" role="tabpanel" aria-labelledby="deployments-tab">

            <ul class="list-group list-group-flush">
                {% for deployment in build.deployments.all %}
                    <li class="list-group-item">

                        {% include "builds/deployment_detail.html" with deployment=deployment %}

                    </li>
                {% endfor %}
            </ul>

        </div>
        {% endif %}

        {% if build.build_snapshots.all %}
        <div class="tab-pane fade" id="snapshots" role="tabpanel" aria-labelledby="snapshots-tab">

            <ul class="list-group list-group-flush">
                {% for snapshot in build.build_snapshots.all %}
                    <li class="list-group-item">
                        <a class="collapsed" data-toggle="collapse" href="#snapshot-{{ snapshot.id }}" aria-expanded="false" aria-controls="snapshot-{{ snapshot.id }}">
                            Snapshot: {{ snapshot.location  }} - {{ snapshot.created_at|date:"n/j/y H:i" }}
                        </a>

                        <a data-toggle="collapse" class="collapsed text-right" href="#snapshot-{{ snapshot.id }}" aria-controls="snapshot-{{ snapshot.id }}" aria-expanded="false" role="button">
                            <i class="fa" aria-hidden="true"></i>
                            <span class="sr-only">Expand/Collapse {{ snapshot }}</span>
                        </a>

                        <div class="collapse mt-3" id="snapshot-{{ snapshot.id }}">

                            <p>Snapshot Notes: {{ snapshot.notes }}</p>

                            {% if snapshot.deployment %}
                                <p>Snapshot Deployment: {{ snapshot.deployment }}</p>
                                <p>
                                    Snapshot Deployment Status:
                                    {% if snapshot.deployment_status == 'deploy' %}<span class="badge badge-pill badge-primary">Deployed</span>{% endif %}
                                    {% if snapshot.deployment_status == 'recover' %}<span class="badge badge-pill badge-warning">Recovered</span>{% endif %}
                                    {% if snapshot.deployment_status == 'burnin' %}<span class="badge badge-pill badge-danger">Burn In</span>{% endif %}
                                    {% if snapshot.deployment_status == 'create' %}<span class="badge badge-pill badge-success">Initial Deployment</span>{% endif %}
                                </p>
                            {% endif %}

                            {% if snapshot.time_at_sea %}
                                <p>Total Time at Sea: {{ snapshot.time_at_sea|time_at_sea_display }}
                            {% endif %}

                            <h6>Snapshot Inventory:</h6>
                            <hr>
                            <ul>

                              {% recursetree snapshot.inventory_snapshots.all %}
                                  <li>
                                            <span>
                                                {{ node.inventory.part.name }} - {{ node.inventory.serial_number }}
                                            </span>

                                      {% if not node.is_leaf_node %}
                                          <ul >
                                              {{ children }}
                                          </ul>
                                      {% endif %}

                                  </li>
                              {% endrecursetree %}
                              </ul>





                        </div>

                    </li>
                {% endfor %}
            </ul>

        </div>
        {% endif %}

        {% if build.revision.documentation.all %}
          <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">

                  <table class="table documentation-table">
                      <thead>
                        <th>Document</th>
                        <th class="text-right">Document Type</th>

                      </thead>
                      <tbody>
                        {% for document in  build.revision.documentation.all %}
                      <tr>
                          <td><a href="{{ document.doc_link }}" target="_blank">{{ document.name }}</a></td>
                          <td class="text-right">{{ document.doc_type }}</td>
                      </tr>
                        {% endfor %}
                      </tbody>
                </table>

          </div>
        {% endif %}



    </div>


<div class="mt-3 ajax-btn">

    <a href="#" data-update-url="{% url 'builds:ajax_builds_action' 'retirebuild' build.id %}" role="button" class="btn btn-danger parts-delete">Retire Build</a>
</div>


{% block javascript %}

{% endblock javascript %}
