
                {% load crispy_forms_tags %}

                <div class="card-header">
                    {% if build.id %}
                    <h3>{{ build }}</h3>
                    {% else %}
                    <h3>Create New Build</h3>
                    {% endif %}
                </div>

                <div class="card-body">


                    <form class="form-horizontal ajax-form" method="post" action="" id="build-form" 
                          data-serialnumber-url="{% url 'inventory:ajax_load_new_serialnumber' %}"
                          data-url='{{ request.build_absolute_uri|safe }}'>
                      {% csrf_token %}
                      {{ form|crispy }}

                      <div class="row">
                          {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-danger">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endif %}


                      </div>

                      <div class="control-group">
                        <div class="controls">
                          {% if build.id %}
                              <button type="submit" class="btn btn-primary">Update Build</button>
                          {% else %}
                              <button type="submit" class="btn btn-primary">Create Build</button>
                          {% endif %}
                        </div>
                      </div>
                    </form>


                </div>

{% block javascript %}

{% endblock javascript %}
