
{% load mptt_tags %}



{% for location,structure in locations|tree_info %}
    {% if structure.new_level %}
        <ul><li data-jstree='{"icon":"fa fa-map-marker"}' id="locations_{{ location.id }}">
    {% else %}
        </li>
        <li data-jstree='{"icon":"fa fa-map-marker"}' id="locations_{{ location.id }}">
    {% endif %}
            <a href="#" data-location-id='{{ location.id }}'
                        data-detail-url="{% url 'locations:ajax_location_detail' location.id %}"
                        data-node-id="{{ location.id }}"
                        data-node-type="locations">{{ location.name }}</a>

                <!-- Check if Build exists for the location. -->
                {% if location.builds.exists %}
                    <ul>
                    {% for build in location.builds.all %}
                               <li data-jstree='{"icon":"fa fa-rocket"}' id="builds_{{ build.id }}" class="jstree-closed">
                                   <a href="#" data-detail-url="{% url 'builds:ajax_builds_detail' build.id %}"
                                      data-node-id="{{ build.id }}"
                                      data-location-id="{{ location.id }}"
                                      data-node-type="builds">{{ build }}
                                      {% if build.current_deployment.current_deployment_status == 'deploy' %}
                                          <span class="badge badge-pill badge-primary">Deployed - {{ build.current_deployment.deployment_number }}</span>
                                      {% endif %}
                                      {% if build.current_deployment.current_deployment_status == 'recover' %}
                                          <span class="badge badge-pill badge-warning">Recovered - {{ build.current_deployment.deployment_number }}</span>
                                      {% endif %}
                                      {% if build.current_deployment.current_deployment_status == 'burnin' %}
                                          <span class="badge badge-pill badge-danger">Burn In - {{ build.current_deployment.deployment_number }}</span>
                                      {% endif %}
                                      {% if build.current_deployment.current_deployment_status == 'create' %}
                                          <span class="badge badge-pill badge-success">Initial Deployment - {{ build.current_deployment.deployment_number }} </span>
                                      {% endif %}
                                  </a>


                               </li>
                    {% endfor %}
                    </ul>
                {% endif %}





    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
