
{% load static i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}




        <div class="card-header">
            {% if assembly_part.id %}
                <h3>{{ assembly_part.part.name }}</h3>
            {% elif parent.id %}
                <h3>Add Subassembly to {{ parent.part.name }} </h3>
            {% else %}
                <h3>Add Part to Assembly</h3>
            {% endif %}
        </div>

        <div class="card-body">

            {% if assembly_part.inventory.exists %}
                <div class="alert alert-danger" role="alert">
                    <h5>Warning! This Assembly Part has live inventory on existing Builds!</h5>

                    <ul class="list-group list-group-flush">

                        {% for item in assembly_part.inventory.all %}

                            <li class="list-group-item">
                                <a href="{% url 'inventory:inventory_detail' item.id %}" data-detail-url="{% url 'inventory:ajax_inventory_detail' item.id %}"
                                   data-node-id="{{ item.id }}"
                                   data-location-id="{{ item.location.id }}"
                                   data-node-type="detail"
                                   class="btn btn-primary btn-sm float-right"
                                   role="button">View</a>
                                Build: {{ item.build }}<br>
                                Inventory Item: {{ item }}<br>
                                Current Location: {{ item.build.location }}

                            </li>

                        {% endfor %}

                    </ul>

                    <p class="mt-3">If you delete this Assembly Part, the existing Inventory items will be
                        removed from Builds and placed in the same current Location as the Build. If you want
                        the current Builds to remain unchanged, please create a
                            <span class="ajax-detail-link">
                                <a href="#"
                                data-detail-url="{% url 'assemblies:ajax_assemblies_copy' assembly.id %}"
                                data-node-id="{{ assembly.id }}"
                                data-node-type="detail"><b>NEW VERSION</b></a> of this Assembly instead.
                            </span>
                        </p>

                </div>

            {% elif builds %}
                <div class="alert alert-warning" role="alert">
                    <b>NOTICE:</b>  This Assembly template has existing Builds. Any edits you make to this
                    template will be reflected in those Builds. If you want to create a new version of this Assembly,
                    but keep existing Builds unchanged, please create a
                    <span class="ajax-detail-link">
                        <a href="#"
                        data-detail-url="{% url 'assemblies:ajax_assemblies_copy' assembly.id %}"
                        data-node-id="{{ assembly.id }}"
                        data-node-type="detail"><b>NEW VERSION</b></a> of this Assembly instead.
                    </span>
                </div>
            {% endif %}

            <div id="inventory-filter">
                <form class="form-horizontal" method="post" action="" id="parttype-filter-form" data-url="{% url 'assemblies:ajax_load_part_templates' %}" novalidate>
                    <div class="form-group">
                    <label for="id_part_type" class="form-control-label  requiredField">Select Part Type<span class="asteriskField">*</span></label>
                        <select name="part_type" class="select form-control" id="id_part_type">
                            <option value="">---------</option>
                            <option value="All">All Parts</option>
                            {% for type in part_types %}
                                <option value="{{ type.id }}">-- {{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>

            <div class="mb-3"><h4><span class="badge badge-secondary">OR</span></h4></div>

            <div id="inventory-filter">
                <form method="post" action="" id="inventory-filter-form-part-number" data-url="{% url 'inventory:ajax_load_part_templates_by_partnumber' %}" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-8 col-lg-6">
                            <label for="part_number" class="sr-only">Scan Part Number<span class="asteriskField">*</span></label>
                            <div class="input-group mb-2 mr-sm-2">

                                <div class="input-group-prepend">
                                  <div class="input-group-text">#</div>
                                </div>
                                <input type="text" name="part_number_search" class="textinput form-control" placeholder="Scan Part Number" id="part_number_search">
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-lg-6">
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>


          <form class="form-horizontal ajax-form" method="post" action="" id="assembly-part-form"
              data-url='{{ request.build_absolute_uri|safe }}'
              data-assembly-parts-url="{% url 'assemblies:ajax_load_assembly_parts' %}">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}

            <div class="row">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}


            </div>

            <div class="control-group">
              <div class="controls">
                {% if assembly_part.id %}
                <button type="submit" class="btn btn-primary">Update Assembly Part</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Add Assembly Part</button>
                {% endif %}
              </div>
            </div>
          </form>

      </div>




{% block javascript %}


{% endblock javascript %}
