
                <div class="card-header" data-object-id="{{ assembly.id }}">
                    <h3>{{ assembly.name }}</h3>
                </div>

                <div class="card-body">

                    <p>Assembly ID Number: {{ assembly.assembly_number }}</p>

                    <p>Description: {{ assembly.description }}</p>


                <div class="mt-3 ajax-btn">
                    <a href="#" data-update-url="{% url 'assemblies:ajax_assemblies_update' assembly.id %}" role="button" class="btn btn-primary">Edit Assembly</a>

                    <a href="#" data-update-url="{% url 'assemblies:ajax_assemblies_delete' assembly.id %}" role="button" class="btn btn-danger parts-delete">Delete</a>
                </div>


{% block javascript %}

{% endblock javascript %}
