    <div class="card-body">
        <div class="side-p">
            <h3>Are you sure?</h3>
            {% if assembly_part.inventory.exists %}
                <div class="alert alert-danger" role="alert">
                    <h5>Warning! This Assembly Part has live inventory on existing Builds!</h5>

                    <ul class="list-group list-group-flush">

                        {% for item in assembly_part.inventory.all %}

                            <li class="list-group-item">
                                <a href="{% url 'inventory:inventory_detail' item.id %}" data-detail-url="{% url 'inventory:ajax_inventory_detail' item.id %}"
                                   data-node-id="{{ item.id }}"
                                   data-location-id="{{ item.location.id }}"
                                   data-node-type="detail"
                                   class="btn btn-primary btn-sm float-right"
                                   role="button">View</a>
                                Build: {{ item.build }}<br>
                                Inventory Item: {{ item }}<br>
                                Current Location: {{ item.build.location }}

                            </li>

                        {% endfor %}

                    </ul>

                    <p>If you delete this Assembly Part, the existing Inventory items will be
                        removed from Builds and placed in the same current Location as the Build. If you want
                        the current Builds to remain unchanged, please create a <b>NEW REVISION</b> instead.</p>
                </div>
            {% endif %}
            <p>You're about to delete {{ assembly_part }} assembly part. Please confirm.</p>
            <form action="" method="post" class="delete-form"
                  data-url='{{ request.build_absolute_uri|safe }}'>
                {% csrf_token %}
                <input class="btn btn-light cancel-btn"
                       type="button" value="Cancel"
                       data-detail-url="{% url 'assemblies:ajax_assemblyparts_detail' assembly_part.id %}"
                       data-node-id="{{ assembly_part.id }}" />
                <input class="btn btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>

{% block javascript %}

{% endblock javascript %}
