
                {% load crispy_forms_tags %}

                <div class="card-header">
                    {% if assembly.id %}
                        <h3>{{ assembly.name }}</h3>
                    {% elif assembly_to_copy %}
                        <h3>Copy Assembly template "{{ assembly_to_copy.name }}"</h3>
                    {% else %}
                        <h3>Add Assembly</h3>
                    {% endif %}
                </div>

                <div class="card-body">
                    {% if assembly_to_copy %}
                        <div class="alert alert-primary" role="alert">
                         <p>Use this form to create a new version of the existing Assembly template: <b>{{ assembly_to_copy.name }}</b>.</p>

                         <p>The new version will have the same template structure as the original, but all existing Builds
                         will remain unchanged.</p>

                        </div>
                    {% endif %}


                    <form class="form-horizontal ajax-form" method="post" action="" id="assembly-form" data-url='{{ request.build_absolute_uri|safe }}'>
                      {% csrf_token %}
                      {{ form|crispy }}

                      <div class="row">
                          {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-danger">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endif %}


                      </div>

                      <div class="control-group">
                        <div class="controls">
                          {% if assembly.id %}
                              <button type="submit" class="btn btn-primary">Update Assembly</button>
                          {% else %}
                              <button type="submit" class="btn btn-primary">Add Assembly</button>
                          {% endif %}
                        </div>
                      </div>
                    </form>


                </div>

{% block javascript %}

{% endblock javascript %}
