
{% load mptt_tags %}

{% for assembly_part,structure in assembly_parts.all|tree_info %}

        {% if structure.new_level %}
            <ul><li {% if assembly_part.part.part_type.name == 'Electrical' %}
                        data-jstree='{"icon":"fa fa-bolt"}'
                    {% elif assembly_part.part.part_type.name == 'Mechanical' %}
                        data-jstree='{"icon":"fa fa-wrench"}'
                    {% elif assembly_part.part.part_type.name == 'Cable' %}
                        data-jstree='{"icon":"fa fa-plug"}'
                    {% elif assembly_part.part.part_type.name == 'Instrument' %}
                        data-jstree='{"icon":"fa fa-camera"}'
                    {% elif assembly_part.part.part_type.name == 'Structural' %}
                        data-jstree='{"icon":"fa fa-cubes"}'
                    {% endif %}
                     id="assemblyparts_{{ assembly_part.id }}">
        {% else %}</li>
            <li {% if assembly_part.part.part_type.name == 'Electrical' %}
                        data-jstree='{"icon":"fa fa-bolt"}'
                    {% elif assembly_part.part.part_type.name == 'Mechanical' %}
                        data-jstree='{"icon":"fa fa-wrench"}'
                    {% elif assembly_part.part.part_type.name == 'Cable' %}
                        data-jstree='{"icon":"fa fa-plug"}'
                    {% elif assembly_part.part.part_type.name == 'Instrument' %}
                        data-jstree='{"icon":"fa fa-camera"}'
                    {% elif assembly_part.part.part_type.name == 'Structural' %}
                        data-jstree='{"icon":"fa fa-cubes"}'
                    {% endif %}
                     id="assemblyparts_{{ assembly_part.id }}">
        {% endif %}
        <a href="#" data-detail-url="{% url 'assemblies:ajax_assemblyparts_detail' assembly_part.id %}"
           data-node-id="{{ assembly_part.id }}"
           data-node-type="assemblyparts"
           class="
           {% if part_types %}
               {% if assembly_part.part.part_type.id in part_types %}
                   blue
               {% else %}
                   wh
               {% endif %}
           {% endif %}
           ">
                {% if assembly_part.part.friendly_name %} {{ assembly_part.part.friendly_name}} {% else %} {{ assembly_part.part.name }} {% endif %}</a>

     {% for level in structure.closed_levels %}</li></ul>{% endfor %}

{% endfor %}
