
    <ul>
        {% for assembly_part in assembly_parts %}

            <li {% if assembly_part.part.part_type.name == 'Electrical' %}
                        data-jstree='{"icon":"fa fa-bolt"}'
                    {% elif assembly_part.part.part_type.name == 'Mechanical' %}
                        data-jstree='{"icon":"fa fa-wrench"}'
                    {% elif assembly_part.part.part_type.name == 'Cable' %}
                        data-jstree='{"icon":"fa fa-plug"}'
                    {% elif assembly_part.part.part_type.name == 'Instrument' %}
                        data-jstree='{"icon":"fa fa-camera"}'
                    {% elif assembly_part.part.part_type.name == 'Structural' %}
                        data-jstree='{"icon":"fa fa-cubes"}'
                    {% endif %}
                     id="assembly_parts_{{ assembly_part.id }}"><a href="#" data-detail-url="{% url 'assemblies:ajax_assemblyparts_detail' assembly_part.id %}"
                        data-node-id="{{ assembly_part.id }}"
                        data-node-type="detail">{{ assembly_part }}</a></li>


        {% endfor %}
    </ul>
