{% load humanize %}

<div class="card-header">
    <h3>{{ location.name }}</h3>
    <h5>{{ location.get_root }}
</div>

<div class="card-body">
{% if location.location_type == 'Mooring' %}
    <div class="dropdown float-right">
      <button id="action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary">
        Choose Action
      </button>
      <div class="dropdown-menu" aria-labelledby="action">
            <div class="ajax-detail-link">
                <a class="dropdown-item" href="#"
                    data-detail-url="{% url 'moorings:ajax_moorings_location_copy' location.id %}"
                    data-node-id="{{ location.id }}"
                    data-node-type="detail">Copy {{ label_moorings_app_singular }} Design</a>
            </div>

      </div>
    </div>
{% endif %}

    {% if location.location_type %}<p>Location Type: {{ location.location_type }}</p>{% endif %}
    {% if location.location_id %}<p>Location ID: {{ location.location_id }}</p>{% endif %}
    <p>Parent: {{ location.parent.name }}</p>
    <p>Total {{ label_moorings_app_singular }} Cost: ${{ location.get_mooring_total_cost|intcomma }}




{% block javascript %}

<script>
$(document).ready(function() {
    // AJAX functions for Inventory Detail template
    $('.ajax-detail-link').on('click','a',function(){
        var url = $(this).attr("data-detail-url");
        var nodeID = $(this).attr("data-node-id");
        console.log(url);

        $.ajax({
            url: url,

            success: function (data) {
              $("#detail-view").html(data);
            }
        });
    });

    /* $('a.link-to-tab').click(function (e) {
      e.preventDefault();
      $('a[href="' + $(this).attr('href') + '"]').tab('show');
    }) */

    $(function () {
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');
    });
});
</script>

{% endblock javascript %}
