{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load parts_tags %}

{% block title %}Mooring Templates{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 navtree-container">
        <h2>Mooring Templates</h2>

        <div id="jstree-test">
            {% include "moorings/ajax_mooring_navtree.html" %}
        </div>

    </div>
    <div class="col-md-7 inventory-detail">

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="parts-add-btn">
                    <a href="#" data-create-url="{% url 'moorings:ajax_moorings_add' %}" role="button" class="btn btn-primary">Add Part to Mooring</a>
                </div>
            </div>
        </div>

        <div class="card" id="detail-view">

        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}
