{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block title %}Orion{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 navtree-container">
        <h2>Mooring Templates</h2>

        {% include "moorings/mooring_nav_location_list.html" %}

    </div>

    <div class="col-md-7 part-detail">



    <div class="card">
        <div class="card-header">
            {% if mooring_part.id %}
                <h3>{{ mooring_part.part.name }}</h3>
            {% elif parent.id %}
                <h3>Add Subassembly to {{ parent.part.name }} </h3>
            {% else %}
                <h3>Add Part to Mooring Template</h3>
            {% endif %}
        </div>

        <div class="card-body">


                <div id="inventory-filter">
                    <form class="form-horizontal" method="post" action="" id="parttype-filter-form" data-url="{% url 'moorings:ajax_load_part_templates' %}" novalidate>
                        <div class="form-group">
                        <label for="id_part_type" class="form-control-label  requiredField">Select Part Type<span class="asteriskField">*</span></label>
                            <select name="part_type" class="select form-control" id="id_part_type">
                                <option value="">---------</option>
                                <option value="All">All Parts</option>
                                {% for type in part_types %}
                                    <option value="{{ type.id }}">-- {{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <hr>


              <form class="form-horizontal parts" method="post" action="" id="parts-form">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="row">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}


                </div>

                <div class="control-group">
                  <div class="controls">
                    {% if mooring_part.id %}
                    <button type="submit" class="btn btn-primary">Update Mooring Part</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Add Mooring Part</button>
                    {% endif %}
                  </div>
                </div>
              </form>

          </div>
      </div>
  </div>
</div>
{% endblock %}


{% block javascript %}

<script type="text/javascript">


    $(document).ready(function() {

        // AJAX functions for form
        $("#id_part_type").change(function () {
            var url = $("#parttype-filter-form").attr("data-url");
            var partType = $(this).val();
            $.ajax({
                url: url,
                data: {
                  'part_type': partType
                },
                success: function (data) {
                  $("#id_part").html(data);
                }
            });

        });

        var part_id = '{{ current_location }}' + '_' + '{{ part_template.id }}' ;
        $('#jstree_parts').jstree(true).select_node(part_id);


    });
</script>

{% endblock javascript %}
