{% load mptt_tags %}
{% load moorings_tags %}

{% get_mooring_parts_by_location location_pk as mooring_parts %}



        {% for mooring_part,structure in mooring_parts|tree_info %}

                {% if structure.new_level %}
                    <ul><li {% if mooring_part.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif mooring_part.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif mooring_part.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif mooring_part.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif mooring_part.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% endif %}
                             id="{{ mooring_part.id }}">
                {% else %}</li>
                    <li {% if mooring_part.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif mooring_part.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif mooring_part.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif mooring_part.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif mooring_part.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% endif %}
                             id="{{ mooring_part.id }}">
                {% endif %}
                    <a href="{% url 'moorings:moorings_detail' mooring_part.id location_pk %}">
                        {% if mooring_part.part.friendly_name %} {{ mooring_part.part.friendly_name}} {% else %} {{ mooring_part.part.name }} {% endif %}</a>

             {% for level in structure.closed_levels %}</li></ul>{% endfor %}

        {% endfor %}
