{% load mptt_tags %}

        {% for mooring_part,structure in mooring_parts|tree_info %}

                {% if structure.new_level %}
                    <ul><li {% if mooring_part.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif mooring_part.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif mooring_part.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif mooring_part.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif mooring_part.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% endif %}
                             id="moorings_{{ mooring_part.id }}">
                {% else %}</li>
                    <li {% if mooring_part.part.part_type.name == 'Electrical' %}
                                data-jstree='{"icon":"fa fa-bolt"}'
                            {% elif mooring_part.part.part_type.name == 'Mechanical' %}
                                data-jstree='{"icon":"fa fa-wrench"}'
                            {% elif mooring_part.part.part_type.name == 'Cable' %}
                                data-jstree='{"icon":"fa fa-plug"}'
                            {% elif mooring_part.part.part_type.name == 'Instrument' %}
                                data-jstree='{"icon":"fa fa-camera"}'
                            {% elif mooring_part.part.part_type.name == 'Structural' %}
                                data-jstree='{"icon":"fa fa-cubes"}'
                            {% endif %}
                             id="moorings_{{ mooring_part.id }}">
                {% endif %}
                <a href="#" data-detail-url="{% url 'moorings:ajax_moorings_detail' mooring_part.id %}"
                   data-node-id="{{ mooring_part.id }}"
                   data-node-type="detail"
                   class="
                   {% if part_types %}
                       {% if mooring_part.part.part_type.id in part_types %}
                           blue
                       {% else %}
                           wh
                       {% endif %}
                   {% endif %}
                   ">
                        {% if mooring_part.part.friendly_name %} {{ mooring_part.part.friendly_name}} {% else %} {{ mooring_part.part.name }} {% endif %}</a>

             {% for level in structure.closed_levels %}</li></ul>{% endfor %}

        {% endfor %}
