
{% load mptt_tags %}
{% load parts_tags %}

{% get_parts_list_by_location location_pk as parts %}

<ul>
{% for part in parts %}

            <li data-jstree='{"icon":"fa fa-bolt"}' id="{{ location_pk }}_{{ part.id }}">

            <a href="{% url 'parts:parts_detail' part.id location_pk %}">
                {% if part.friendly_name %}{{ part.friendly_name }}{% else %}{{ part.name }}{% endif %} </a>

                {% if part.children.all %}

                    {% get_parts_children part.id location_pk as children %}


                    {% recursedict children %}
                         <ul>

                             {% loop %}

                                     <li data-jstree='{"icon":"fa fa-bolt"}'>
                                         {% if key %}<a href="{% url 'parts:parts_detail' key.id location_pk %}"><span>{{ key.name }}</span></a>{% endif %}{% value %}
                                     </li>

                             {% endloop %}

                         </ul>
                    {% endrecursedict %}


                {% endif %}

            </li>


{% endfor %}
</ul>
