<div class="btn-group" id="filter-part-type" data-navtree-filter-url="{% url 'moorings:ajax_filter_moorings_navtree' %}">
  <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter by Part Type
  </button>
  <div class="dropdown-menu">

      {% for p_type in part_types %}
      <div class="form-check dropdown-item">
        <input class="form-check-input filter-checkbox" type="checkbox" value="{{ p_type.id }}" id="filter-{{ p_type.id }}">
        <label class="form-check-label" for="filter-{{ p_type.id }}">
          {{ p_type.name }}
        </label>
      </div>
      {% endfor %}
      <div class="form-check dropdown-item">
          <small><a href="#" class="" id="filter-part-type-clear">CLEAR ALL</a></small>
      </div>
  </div>
</div>
