{% load parts_tags %}

<div multiple=multiple class="selectmultiple form-control" id="id_{{ widget.name }}">
    <ul style="padding-left:0;">
    {% for part in parts_form_options %}


                <li><input type="checkbox" name="{{ widget.name }}" value="{{ part.id|stringformat:'s' }}" {% if part.id|stringformat:'s' in widget.value %}checked{% endif %}>
                {% if part.friendly_name %}{{ part.friendly_name }}{% else %}{{ part.name }}{% endif %}




                    {% if part.children.all %}

                        {% recursedict part.descendants_tree %}
                            <ul>

                                 {% loop %}


                                         <li>
                                             {% if key %}<input type="checkbox" name="{{ widget.name }}" value="{{ key.id|stringformat:'s' }}" {% if key.id|stringformat:'s' in widget.value %}checked{% endif %}>
                                             {% if key.friendly_name %}{{ key.friendly_name }}{% else %}{{ key.name }}{% endif %}{% endif %}{% value %}
                                         </li>

                                 {% endloop %}

                            </ul>
                        {% endrecursedict %}


                    {% endif %}

                </li>


    {% endfor %}
    </ul>
</div>
