
<div class="card" id="qcard_c{{ cindex }}">
  <div class="card-header form-group form-inline">

    <label class="form-check-label pr-2" for="model-select_c{{ cindex }}"><h4>Search for </h4></label>
    <select class="form-control" id="model-select_c{{ cindex }}" name="m{{ cindex }}">
      <option value="inventory" {% if ctype == "inventory" %} selected {% endif %}>Inventory</option>
      <option value="part"      {% if ctype == "part" %}      selected {% endif %}>Part</option>
      <option value="builds"     {% if ctype == "builds" %}     selected {% endif %}>Build</option>
      <option value="assembly"  {% if ctype == "assembly" %}  selected {% endif %}>Assembly</option>
    </select>
  </div>

  <div class="card-body">

    <div id="fields_c{{ cindex }}">
      {% include "search/_adv_fields.html" with cindex=cindex findex=0 type=ctype %}
      {% for i in 1|range %}
      {% include "search/_adv_fields.html" with cindex=cindex findex=i type=ctype hide=1 %}
      {% endfor %}
    </div>

  </div>
</div>
<!--<div id="qcard-buttons_c{{ cindex }}">
  <button class="btn btn-primary" id="qcard_+AND_c{{ cindex }}"><i class="fa fa-plus"></i> AND</button>
  <button class="btn btn-primary" id="qcard_+OR_c{{ cindex }}"><i class="fa fa-plus"></i> OR</button>
</div>-->
