<div id="qfield-row_c{{ cindex }}_f{{ findex }}" class="form-group form-inline"
        {% if hide %} style="display:none;" {% endif %}>
  <select class="form-control col-md-3" id="field-select_c{{ cindex }}_f{{ findex }}" name="m{{ cindex }}_f{{ findex }}">
  {% if type == "inventory" %}
    <option value="serial_number" selected>Serial Number</option>
    <option value="part__name">Part Name</option>
    <option value="build__assembly__name">Build</option>
    <option value="created-at">Date Created</option>
    <option value="updated-at">Date Modified</option>
    <option disabled style="font-style:italic">--Location--</option>
    <option value="location__name">Name</option>
    <option value="location__location_type">Type</option>
    <option value="location__root_type">Root</option>
    <option disabled style="font-style:italic">--User-Defined-Fields--</option>
    <option value="part__user_defined_fields__field_name">UDF Name</option>
    <option value="fieldvalues__field_value">UDF Value</option>

  {% elif type == "part" %}
    <option value="part_number">Part Number</option>
    <option value="name">Name</option>
    <option value="part_type">Part Type</option>
    <option value="unit_cost">Unit Cost</option>
    <option value="refurbishment_cost">Refurb Cost</option>
    <option value="note">Note</option>
    <option disabled style="font-style:italic">--User-Defined-Fields--</option>
    <option value="user_defined_fields__field_name">UDF Name</option>

  {% elif type == "build" %}
    <option value="build_number">Build Number</option>
    <option value="assembly__name">Name</option>
    <option value="assembly__assembly_type">Type</option>
    <option value="assembly__description">Description</option>
    <option value="created-at">Date Created</option>
    <option value="updated-at">Date Modified</option>
    <option value="build_notes">Notes</option>
    <option value="detail">Detail</option>
    <option value="is_deployed">is-deployed?</option>
    <option value="time_at_sear">Time at Sea</option>
    <option disabled style="font-style:italic">--Location--</option>
    <option value="location__name">Name</option>
    <option value="location__location_type">Type</option>
    <option value="location__root_type">Root</option>

  {% elif type == "assembly" %}
    <option value="name">Name</option>
    <option value="assembly_number">Number</option>
    <option value="assembly_type">Type</option>
    <option value="description">Description</option>

  {% endif %}
  </select>

  <select class="form-control col-md-3" id="qfield-lookup_c{{ cindex }}_f{{ findex }}" name="m{{ cindex }}_l{{ findex }}">
    <option value="icontains" selected>Contains</option>
    <option value="exact">is-Exactly</option>
    <option value="gte">Greater-Than or Equal</option>
    <option value="lte">Less-Than or Equal</option>
  </select>

  <input type="text" class="form-control col-md-3" id="field-query_c{{ cindex }}_f{{ findex }}" name="m{{ cindex }}_q{{ findex }}">
</div>

<div id="qfield-buttons_c{{ cindex }}_f{{ findex }}" {% if hide %} style="display:none;" {% endif %} >
  <button type='button'  class="btn btn-primary-sm" id="qfield_+AND_c{{ cindex }}_f{{ findex }}" href="#" onclick="qfield_show_next({{ cindex }}, {{ findex }},'and');return false;" >
    <i class="fa fa-plus"></i> AND</button>
  <!--<button type='button' class="btn btn-primary-sm" id="qfield_+OR_c{{ cindex }}_f{{ findex }}" href="#" onclick="qfield_show_next({{ cindex }}, {{ findex }},'or');return false;" >
    <i class="fa fa-plus"></i> OR</button>-->
</div>


