
      <div id="searchform">
          <form action="{% url 'search:main' %}" method="get" accept-charset="utf-8" class="form-inline">

            <div class="input-group mb-3">
              <input type="text" class="form-control" name="q" type="text" placeholder="Search Serial and Name" id="searchbar-query">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i> Search</button>
              </div>
              <input type="hidden" name="i" value="✓">
              <input type="hidden" name="n" value="✓">
              <input type="hidden" name="sn" value="✓">
            </div>

          </form>
      </div>
