{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}
{% block title %}Adv. Search{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="/static/js/form-search.js"></script>
  <script>window.addEventListener("load", function(){
    {% if prev_cards %}
      $("#adv-search-cards").empty()
      const prev_cards = jQuery.parseJSON('{{ prev_cards|escapejs }}')
      let model = 'inventory'
      for( let card in prev_cards ){
          const type =  prev_cards[card]['model']
          model = type
          const rows_data = prev_cards[card]['queries']
          insert_card(type,rows_data)
      }
      document.getElementById('model-select').value = model

    {% else %}
      insert_card('inventory')
      //document.getElementById('model-select').value = 'inventory'
    {% endif %}

  })</script>
{% endblock javascript %}
{% block content %}


<div class="row">

  <!-- SEARCH CONTROLS -->
  <div class="col-md-5 search-control">
    <h2>Advanced Search</h2>
    <form id='adv-search-form' action="{% url 'search:adv' %}" method="get" accept-charset="utf-8" class="form">
      <div class="form-inline">
        <label class="form-check-label pr-2" for="model-select"><h4>Search for </h4></label>
        <select class="form-control" id="model-select" onchange="replace_cards(this)">
          <option value="inventory" >Inventory</option>
          <option value="part"      >Part</option>
          <option value="builds"    >Build</option>
          <option value="assembly"  >Assembly</option>
        </select>
      </div>
      <div id='adv-search-cards'></div>

      <button class="btn btn-primary float-right m-1" type="submit"><i class="fa fa-search"></i> Submit</button>
      <a href="{% url 'search:adv' %}"><button type='button' class="btn btn-primary float-right m-1">RESET</button></a>
    </form>
  </div>


  <!-- LISTVIEW -->
  <div class="col-md-7 search-results">
    <div class="card" id="search-list-view">
      <div class="card-header">
        <h3>Search Results</h3>
      </div>
      <div class="card-body">
        {% if query_slug %}
        <form action="{% url 'search:csv' 'adv' query_slug %}" method="get">
          <button class="button float-right" type="submit">Download CSV</button>
        </form>
        {% endif %}
        <p><b>{{ page_obj.paginator.count }}</b> items match your search! This is page <b>{{ page_obj.number }}</b> of <b>{{ page_obj.paginator.num_pages }}</b></p>
        <ul class="list-group list-group-flush">
          {% if search_items %}

            {% for item in search_items %}
              <li class="list-group-item">
                <div >
                  <a href="{{  item.href }}">
                  {{ item.entry }}
                  </a>
                  <br>
                  {{ item.subline }}
                  <a href="{{  item.href }}"
                    class="btn btn-primary btn-sm float-right"
                    role="button">View</a>
                </div>
              </li>
            {% endfor %}

          {% endif %}
        </ul>


        <!-- Bootstrap Pagination -->
        {% if is_paginated %}
          <hr>
          <nav aria-label="search-pagination">
            <ul class="pagination justify-content-center pagination-sm">

              {% if page_obj.has_previous %}
                <!-- Append the searched query to the URL, so that on a search results page,
                  the pagination don't revert to listing all the listview items. -->
                <li class="page-item">
                  <a class="page-link" href="{% url 'search:adv' %}?{{query_slug}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
              {% endif %}

              {% for page_number in custom_paginator_range %}
                <li class="page-item"><a class="page-link" href="{% url 'search:adv' %}?{{query_slug}}&page={{ page_number }}">{{ page_number }}</a></li>
              {% endfor %}

              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'search:adv' %}?{{query_slug}}&page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Next</a>
                </li>
              {% endif %}

            </ul>
          </nav>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}
