{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}
{% block title %}Search{% endblock %}
{% block content %}


<div class="row">

  <!-- SEARCH CONTROLS -->
  <div class="col-md-5 search-control">
    <h2>Search Controls</h2>
    <form action="{% url 'search:basic' %}" method="get" accept-charset="utf-8" class="form">

      <input type="text" class="form-control" name="q" placeholder="Search Term Here!" id="search-query" value="{{ query }}">
      <br>

      <div class="card">
        <div class="card-header">
          <h4>Search Results Type</h4>
        </div>
        <div>
          <p></p>

          <label class="switch">
            <input type="checkbox" class="form-check-input" value="✓" id="parts-bool" name="p" {{ checked.p }}>>
            <span class="slider"></span>
          </label>
          <label class="form-check-label" for="parts-bool">Parts</label>
          <br>

          <label class="switch">
            <input type="checkbox" class="form-check-input" value="✓" id="inv-bool" name="i" {{ checked.i }}>
            <span class="slider"></span>
          </label>
          <label class="form-check-label" for="inv-bool">Inventory</label>
          <br>

        </div>
      </div>
      <br>

      <div class="card">
        <div class="card-header">
          <h4>Searched Fields</h4>
        </div>
        <div>
          <p></p>

          <label class="switch">
            <input type="checkbox" class="form-check-input" value="✓" id="name-bool" name="n" {{ checked.n }}>
            <span class="slider"></span>
          </label>
          <label class="form-check-label" for="name-bool">Name</label>
          <br>

          <label class="switch">
            <input type="checkbox" class="form-check-input" value="✓" id="sn-bool" name="sn" {{ checked.sn }}>
            <span class="slider"></span>
          </label>
          <label class="form-check-label" for="sn-bool">Serial Number</label>
          <br>

          <label class="switch">
            <input type="checkbox" class="form-check-input" value="✓" id="l-bool" name="l" {{ checked.l }}>
            <span class="slider"></span>
          </label>
          <label class="form-check-label" for="l-bool">Location</label>
          <br>

          <label class="switch">
            <input type="checkbox" class="form-check-input" value="✓" id="u-bool" name="u" {{ checked.u }}>
            <span class="slider"></span>
          </label>
          <label class="form-check-label" for="u-bool">Custom Fields</label>
          <br>

        </div>
      </div>

      <br>
      <button class="btn btn-primary float-right" type="submit"><i class="fa fa-search"></i> Submit</button>

    </form>
  </div>


  <!-- LISTVIEW -->
  <div class="col-md-7 search-results">
    <div class="card" id="search-list-view">
      <div class="card-header">
        <h3>Search Results</h3>
      </div>
      <div class="card-body">
        <p><b>{{ page_obj.paginator.count }}</b> items match your search!</p>
        <ul class="list-group list-group-flush">
          {% if search_items %}

            {% for item in search_items %}
              <li class="list-group-item">
                <div >
                  <a href="{{  item.href }}">
                  {{ item.entry }}
                  </a>
                  <br>
                  {{ item.subline }}
                  <a href="{{  item.href }}"
                    class="btn btn-primary btn-sm float-right"
                    role="button">View</a>
                </div>
              </li>
            {% endfor %}

          {% endif %}
        </ul>


        <!-- Bootstrap Pagination -->
        {% if is_paginated %}
          <hr>
          <nav aria-label="search-pagination">
            <ul class="pagination justify-content-center pagination-sm">
              {% if page_obj.has_previous %}
                <!-- Append the searched query to the URL, so that on a search results page,
                  the pagination don't revert to listing all the listview items. -->
                <li class="page-item">
                  <a class="page-link" href="{% url 'search:basic' %}?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
              {% endif %}
              {% for object in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'search:basic' %}?{{search}}&page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'search:basic' %}?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block javascript %}
{% endblock javascript %}
