
                <div class="card-header">
                    <h3>{{ location.name }}</h3>
                    <h5>{{ location.get_root }}
                </div>

                <div class="card-body">

                    {% if location.location_type %}<p>Location Type: {{ location.location_type }}</p>{% endif %}
                    {% if location.location_id %}<p>Location ID: {{ location.location_id }}</p>{% endif %}
                    <p>Parent: {{ location.parent.name }}</p>





                <div class="mt-3 ajax-btn">
                    <a href="#" data-update-url="{% url 'locations:ajax_location_update' location.id %}" role="button" class="btn btn-primary">Edit Location</a>

                    <a href="#" data-update-url="{% url 'locations:ajax_location_delete' location.id %}" role="button" class="btn btn-danger parts-delete">Delete</a>
                </div>


{% block javascript %}

{% endblock javascript %}
